.form_base{
    margin: 0 1rem;
    padding: 0.5rem 0;
    border-top: #00000021 solid;
    background: #f7f8f9;
}
.video_box{
    width: 1000px;
    border-radius: 30px;
    margin: 1rem;
}
.video{
    width: 100%;
    border-radius: 30px;
}
.video_title{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #3F72AF;
}
.video_group{
    display: flex;
    margin: 1rem;
}
.video_description{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    padding: 0 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #112D4E;
}